
@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
<div id="Enviorment-container">
    <button type="submit" asp-controller="Player" asp-action="ShowPlayer"
            id="playerDetailsButton" class="btn-primary" data-target="viewContainer">
        Show Player
    </button>
    <button type="submit" asp-controller="Player" asp-action="Arena"
            id="arenaButton" class="btn-primary" data-target="viewContainer">
        Enter the arena
    </button>
    <button type="submit" asp-controller="Player" asp-action="HighScore"
            id="highScoreButton" class="btn-primary" data-target="viewContainer">
        Show High Score
    </button>
    <button type="reset" id="resetButton" class="btn-primary" data-target="viewContainer">Reset</button>
    <button type="submit" asp-controller="Player" asp-action="Create"
            id="createGlad" class="btn-primary" data-target="viewContainer">
        Create Gladiator
    </button>
    <div id="viewContainer"></div>
</div>
}

<script>
    $("#playerDetailsButton").click(function (e) {
        e.preventDefault();
        //let id = $("#id").val(); + id
        $.get("Player/ShowPlayer/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#arenaButton").click(function (e) {
        e.preventDefault();
        $.post("Player/Arena/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#highScoreButton").click(function (e) {
        e.preventDefault();
        $.get("Player/HighScore/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#resetButton").click(function (e) {
        e.preventDefault();
        $("#viewContainer").html("");
    });
    $("#createGlad").click(function (e) {
        e.preventDefault();
        $.get("Player/Create/", function (res) {
            $("#viewContainer").html(res);
        });
    });
</script>


