@{
    ViewData["Title"] = "Game Page";
}

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div id="Enviorment-container" class="text-center">
        <h4 class="display-4">Welcome to an gladiator management game</h4>
        <div class="align-center">
            <button id="playerDetailsButton" class="btn btn-primary margin-auto"
                    type="submit" asp-controller="Player" asp-action="ShowPlayer"
                    data-target="viewContainer">
                Show Player
            </button>
            <button id="arenaButton" class="btn btn-primary margin-auto"
                    type="submit" asp-controller="Player" asp-action="Arena"
                    data-target="viewContainer">
                Enter the arena
            </button>
            <button id="highScoreButton" class="btn btn-primary margin-auto"
                    type="submit" asp-controller="Player" asp-action="HighScore"
                    data-target="viewContainer">
                Show High Score
            </button>
            <button id="resetButton" class="btn btn-primary margin-auto" type="reset" data-target="viewContainer">Reset</button>
            <button id="createGlad" class="btn btn-primary margin-auto"
                    type="submit" asp-controller="Player" asp-action="Create"
                    data-target="viewContainer">
                Create Gladiator
            </button>
        </div>
        <br />
        <div id="viewContainer"></div>
    </div>
}

<script>
    $("#playerDetailsButton").click(function (e) {
        e.preventDefault();
        //let id = $("#id").val(); + id
        $.get("Player/ShowPlayer/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#arenaButton").click(function (e) {
        e.preventDefault();
        $.post("Player/Arena/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#highScoreButton").click(function (e) {
        e.preventDefault();
        $.get("Player/HighScore/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#resetButton").click(function (e) {
        e.preventDefault();
        $("#viewContainer").html("");
    });
    $("#createGlad").click(function (e) {
        e.preventDefault();
        $.get("Player/Create/", function (res) {
            $("#viewContainer").html(res);
        });
    });
</script>


