
@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <label for="id">Enter ID:</label>
    <input type="number" id="id" />
    <button type="submit" asp-controller="Player" asp-action="ShowPlayer"
            id="playerDetailsButton" data-target="viewContainer">
        Show Player
    </button>
    <button type="submit" asp-controller="Player" asp-action="Arena"
            id="arenaButton" data-target="viewContainer">
        Enter a gladiator Id to enter the Arena
    </button>
    <button type="submit" asp-controller="Player" asp-action="HighScore"
            id="highScoreButton" data-target="viewContainer">
        Show High Score
    </button>
    <button type="reset" id="resetButton" data-target="viewContainer">Reset</button>
    <div id="viewContainer"></div>
}

<script>
    $("#playerDetailsButton").click(function (e) {
        e.preventDefault();
        let id = $("#id").val();
        $.post("Player/ShowPlayer/" + id, function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#arenaButton").click(function (e) {
        e.preventDefault();
        $.post("Player/Arena/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#highScoreButton").click(function (e) {
        e.preventDefault();
        $.get("Player/HighScore/", function (res) {
            $("#viewContainer").html(res);
        });
    });
    $("#resetButton").click(function (e) {
        e.preventDefault();
        $("#viewContainer").html("");
    });

</script>


