@model ShopViewModel

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div class="text-center">
        <h3 class="display-4">Welcome to the shop!</h3>
    </div>

    <h5>Weapons</h5>

    <div class="container">
        <div class="row">
            <div class="col">
                Name
            </div>
            <div class="col">
                Price
            </div>
            <div class="col">
                Details
            </div>
            <div class="col">
                Buy
            </div>
        </div>
    </div>

    @for (int i = 0; i < Model.Inventory.WeaponsInShop.Count; i++)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    @Model.Inventory.WeaponsInShop[i].Name
                </div>
                <div class="col">
                    @Model.Inventory.WeaponsInShop[i].Cost
                </div>
                <div class="col">
                    <a>Details</a>
                </div>
                <div class="col">
                    <button onclick="buyWeapon(@i)">Buy this weapon</button>
                </div>
            </div>
        </div>
    }


    <h5>Armor</h5>

    <div class="container">
        <div class="row">
            <div class="col">
                Name
            </div>
            <div class="col">
                Price
            </div>
            <div class="col">
                Details
            </div>
            <div class="col">
                Buy
            </div>
        </div>
    </div>

    @for (int i = 0; i < Model.Inventory.ArmorsInShop.Count; i++)
        {
            <div class="container">
                <div class="row">
                    <div class="col">
                        @Model.Inventory.ArmorsInShop[i].Name
                    </div>
                    <div class="col">
                        @@Model.Inventory.ArmorsInShop[i].Cost
                    </div>
                    <div class="col">
                        <a>Details</a>
                    </div>
                    <div class="col">
                        <button onclick="buyArmor(@i)">Buy this armor</button>
                    </div>
                </div>
            </div>
        }

    <div id="viewContainer2"></div>
}
<script>
    function buyWeapon(e) {
        let id = e;
        var url = "Player/BuyWeapon/" + id;
        $.post(url, function (res) {
            $("#Enviorment-container").html(res);
        });
    }

    function buyArmor(e) {
        let id = e;
        var url = "Player/BuyArmor/" + id;
        $.post(url, function (res) {
            $("#Enviorment-container").html(res);
        });
    }

</script>