@{
    ViewData["Title"] = "Arena";
}

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <button type="submit" asp-controller="Player" asp-action="PVECombat"
            id="enterPve" data-target="viewContainer">
        Enter PVE
    </button>

    <button type="submit" asp-controller="Player" asp-action="ShowAllEnemyPlayers"
            id="enterPvp" data-target="viewContainer">
        Enter PVP
    </button>
    
    <div id="enviroment-container">
        <h2>Welcome to the Arena, input an gladiator id then choose a mode</h2>
        <h4>PVE let's you fight against a random generated AI opponent</h4>
        <h4>PVP let's you choose a gladiator of an enemy Player to fight against</h4>
        <h4>If your gladiator loose, they will permanentily die.</h4>
    </div>
}

<script>
    $("#enterPve").click(function (e) {
        e.preventDefault();
        let id = $("#id").val();
        $.post("Player/PVECombat/" + id, function (res) {
            $("#viewContainer").html(res);
        })
    });
    $("#enterPvp").click(function (e) {
        e.preventDefault();
        let id = $("#id").val();
        $.post("Player/ShowAllEnemyPlayers/" + id, function (res) {
            $("#viewContainer").html(res);
        })
    });
</script>