@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>How you Play: </p>

    @if (User.IsInRole("Admin"))
    {
        <h1>Hello Leader!!!</h1>
    }
    @if (User.IsInRole("User"))
    {
        <h2>Hello Follower!!</h2>
    }

</div>

