@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>How you Play: </p>

    @if (User.IsInRole("Admin"))
    {
        <h1>Hello Leader!!!</h1>
    }
    @if (User.IsInRole("User"))
    {
        <h2>Hello Follower!!</h2>
    }

    <label for="id">Enter ID:</label>
    <input type="number" id="id" />
    <button type="submit" asp-controller="Home" asp-action="ShowPlayer"
            id="playerDetailsButton" data-target="playerView">
        Show Player
    </button>
    <div id="viewContainer"></div>
    <script>
        $("#playerDetailsButton").click(function (e) {
            e.preventDefault();
            let id = $("#id").val();
            $.post("Home/ShowPlayer/" + id, function (res) {
                $("#viewContainer").html(res);
            });
        });
    </script>

</div>

